
.icon-music:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e80b'; } /* '' */
.icon-th-large:before { content: '\e80d'; } /* '' */
.icon-th:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-download-cloud:before { content: '\e806'; } /* '' */
.icon-bell:before { content: '\e804'; } /* '' */
.icon-cog-alt:before { content: '\e805'; } /* '' */
.icon-play-circled2:before { content: '\e80e'; } /* '' */
.icon-chart-bar:before { content: '\e809'; } /* '' */
.icon-rupee:before { content: '\e807'; } /* '' */
.icon-hourglass:before { content: '\e808'; } /* '' */
.icon-users-outline:before { content: '\e81b'; } /* '' */
.icon-home-outline:before { content: '\e81a'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-chat-alt:before { content: '\e818'; } /* '' */
.icon-location:before { content: '\e80f'; } /* '' */
.icon-cog-outline:before { content: '\e810'; } /* '' */
.icon-headphones:before { content: '\e812'; } /* '' */
.icon-stopwatch:before { content: '\e811'; } /* '' */
.icon-down-outline:before { content: '\e815'; } /* '' */
.icon-left-outline:before { content: '\e814'; } /* '' */
.icon-right-outline:before { content: '\e813'; } /* '' */
.icon-up-outline:before { content: '\e816'; } /* '' */
.icon-plane-outline:before { content: '\e817'; } /* '' */
.icon-chart-pie:before { content: '\e80a'; } /* '' */
.icon-flight:before { content: '\e80c'; } /* '' */
.icon-comment:before { content: '\e819'; } /* '' */